* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    background: url(https://source.unsplash.com/1920x1080) no-repeat center fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;

}

.left {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    width: 25%;
}

.mid {
    background: rgba(0, 0, 0, 0.75);
    width: 50%;
}

.right {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    width: 25%;
}

.left,
.mid,
.right {
    height: 100%;
}